@import '../../styles/variables';

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 9999;

  .nav-items {
    display: flex;

    .nav-item {
      color: #fff;
      margin-left: 30px;
      font-family: 'Din 2014';
      font-weight: 300;
      list-style-type: none;
      position: relative;
      
      &.active {
        position: relative;
        
        &:before {
          content: '';
          background-color: #fff;
          width: 3px;
          height: 3px;
          position: absolute;
          top: 30px;
          left: calc(50% - 1.5px);
          border-radius: 4px;
        }
      }
      
      a {
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        border-bottom: 1px solid $bp-light-gray;
        // &:before {
        //   content: '';
        //   background-color: #fff;
        //   width: 3px;
        //   height: 3px;
        //   position: absolute;
        //   top: 30px;
        //   left: calc(50% - 1.5px);
        //   border-radius: 4px;
        // }
      }
    }
  }
}
