@import '../../styles/variables';

.navbar {
  background-color: $bp-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .nav-items {
    .nav-item {
      color: #fff;
      margin-left: 10px;
      font-family: 'Din 2014';
      text-decoration: none;
      font-weight: 300;
    }
  }
}
