@import '../../styles//variables';

.footer {
  background-color: $bp-blue;
  padding: 100px 30px;

  .top-bar {
    display: flex;
    flex-direction: row;

    .logo-block {
      display: flex;
      padding-right: 100px;


      // .img-icon {
      //   margin-right: 75px;
      // }

      .address {
        margin-left: 75px;

        h5 {
          margin: 0;
        }
      }
    }

    .footer-section {

    }
  }

  .bottom-bar {
    border-top: .5px solid $white-border;
  }
}
