@import '../../styles/variables';

.about {
  header {
    padding: 0;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;

    .header-content {
      background-color: $bp-blue;
      width: 100%;
      padding: 0;

      .header-image {
        height: 50vh;
        background-size: cover;
        background-position: center;
      }

      .header-copy {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 40px 30px;

        h1 {
          margin: 0;
          color: rgba(255,255,255,.75);
          font-size: 15px;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          font-weight: 300;         
        }
        p {
          color: #fff;
          margin: 0;
          font-weight: 300;
          font-size: 26px;
          line-height: 40px;
        }
      }

    }
  }
  .main-content {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top center;

    .margin-container {
      max-width: 1000px;
      display: flex;
      justify-content: space-between;
      .content-col, 
      .image-col {
        width: 45%;
  
      }
      .content-col {
        padding-right: 50px;
        
        p {
          font-size: 14px;
          line-height: 25px;
          letter-spacing: 1px;
        }
      }

      .image-col {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .our-qualities {
    display: flex;
    flex-flow: wrap;
    padding: 100px 0px;
    
    .our-qualities-content {
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;
      display: flex;
      flex-flow: wrap;
      padding: 0 30px;

      .quality {
        width: calc(50% - 45px);
        display: flex;
        flex-flow: wrap;
        align-items: flex-start;
        margin-right: 70px;
        margin-bottom: 50px;

        &:nth-of-type(2n) {
          margin-right: 0px;
        }

        .quality-image {
          width: 25%;
        }

        .quality-content {
          width: 75%;
          align-self: start;
          padding-left: 20px;

          h5 {
            margin: 30px 0 20px 0;
            font-weight: 500;     
            letter-spacing: 1px;
            font-size: 24px;  
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .our-team {
    display: flex;
    padding: 0 30px;

    .content {
      max-width: 1000px;
      margin: 0 auto;
      width: 100%;

      .people-wrapper {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;

        .person {
          width: calc(31%);
          height: 467px;
          position: relative;
          margin-bottom: 50px;

          .headshot {
            object-fit: cover;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
          }
          
          .card {
            padding: 10px 20px;
            background-color: #fff;
            position: absolute;
            bottom: -20px;
            right: 20px;
            -webkit-box-shadow: 0px 0px 14px 5px rgb(0 0 0 / 5%);
            box-shadow: 0px 0px 14px 5px rgb(0 0 0 / 5%);
            width: 80%;
            opacity: 0;
            transition: all .3s;

            h5 {
              font-size: 18px;
              font-weight: 500;
              margin: 10px 0 6px 0;
              color: #000;
            }
            
            p {
              font-size: 12px;  
              line-height: 18px;
              margin: 0 0 10px 0;
              color: #000;
            }
          }
          &:hover {
            .card {
              opacity:1;
            }
          }
        }
        a.person {
          &:hover {
            -webkit-box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 8%);
            box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 8%);
            
            h5, p {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1100px) {
    .header-content  {
      .header-image {
        height: 25vh !important;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .main-content {
      .margin-container {
        flex-flow: column;
        .content-col, 
        .image-col {
          width: 100%;
          padding: 0;
        }
        .content-col {
          margin-bottom: 40px;
        }
      }  
    }
  }

  @media screen and (max-width: 900px) {
    .our-team {
      .content {
        .people-wrapper {
          .person {
            width: 48%;
            height: 50vh;
            max-height: 450px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 740px) {
    .our-qualities {
      .our-qualities-content {
        .quality {
          flex-flow: column;
          margin-right: 20px;
          width: calc(50% - 10px);

          .quality-image, 
          .quality-content {
            width: 100%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    .header-content {
      .header-copy {
        p {
          font-size: 18px !important;
          line-height: 26px !important;
          font-weight: 300;
        }
      }
    }  
    .main-content {
      padding: 40px 30px;
    }
    .our-team {
      .content {
        .people-wrapper {
          .person {
            width: 100%;
            margin: 0 auto 50px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .header-content  {
      .header-image {
        height: 17vh !important;
      }
    }
    .our-qualities {
      .our-qualities-content {
        .quality {
          width: 100%;
          flex-direction: row;

          .quality-image {
            width: 100px;
          }
          .quality-content {
            h5 {
              margin-top: 5px;
            }
          }

          // justify-content: center;
          // align-items: center;
          // .quality-content {
          //   text-align: center;
          // }
          // .quality-image {
          //   justify-content: center;
          //   align-items: center;
          //   margin: 0 auto;
          // }
        }
      }
    }
  }
}
