@import './variables';

.page-404 {
  header {
    background-color: $bp-blue;
    
    .content-margins {
      padding: 100px 30px;
      color: #fff;
      max-width: 800px;
      margin: 0 auto;
  
      h1 {
        font-size: 80px;
      }
    }
  }

  .content {
    .content-margins {
      padding: 100px 30px;
      max-width: 800px;
      margin: 0 auto;
    }
  }
}
