@import './variables';

.featured-posts {
  margin: 100px 0px 0;

  .content-margins {
    max-width: 1400px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;

    .section-header {
      width: 100%;
      
      h3 {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: rgba($bp-blue, .3);
        margin: 0 0 8px;
      }

      h2 {
        margin: 0 0 40px;
        font-weight: 600;
        font-size: 34px;
      }
    }

    .posts {
      display: flex;
      flex-flow: wrap;

      .blog-card {
        .link {
          opacity: .8;
          transition: all .3s;
          
        }
        &:hover {
            .link {
              opacity: 1;
            }
        }
      }
    }
  } 

  @media screen and (max-width: 680px) {
    .content-margins {
      justify-content: center;

      .posts {
        flex-flow: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        .blog-card {
          width: 100%;
          max-width: 350px;
          
          .img-wrap {
            width: 100%;
          }
        }
      }
    }
  }
}
