/* ./styles/globals.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    overflow: hidden;
    overflow-y: auto;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  
}

@layer components {
  .nav-item {
    @apply font-din tracking-widest pl-4;
  }
} */
html {
  box-sizing: border-box;
}
// *, *:before, *:after {
//   box-sizing: border-box;
// }
// body {
//   overflow: hidden;
//   overflow-y: auto;
//   margin: 0;
// }
// .home {
//   h1 {
//     margin: 0;
//   }
// }
