@import './variables';

html {
  box-sizing: border-box;
  // scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  overflow-y: auto;
  margin: 0;
}

p, a, span, button, li, label {
  font-family: muli, sans-serif;
  line-height: 24px;
  letter-spacing: .5px;
}

h1 {
  font-family: din-2014, sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
}
h2 {
  font-family: din-2014, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 46px;
}
h3 {
  font-family: din-2014, sans-serif;
  font-size: 34px;
  font-weight: 600;
}
h4 {
  font-family: din-2014, sans-serif;
  font-size: 30px;
  font-weight: 600;
}
h5 {
  font-family: din-2014, sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.home {
  .home-hero-banner {
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;

    .content {
      display: flex;
      justify-content: center;
      max-width: 1000px;
      margin: 0 auto;
      
      h1 {
        margin: 0;
        width: 50%;
        color: #fff;
        font-weight: 500;
      }
      .description {
        width: 50%;
        color: #fff;
        font-weight: 300;
        font-size: .875rem;
        letter-spacing: 1px;
        line-height: 24px;
      }
    }

    .view-more {
      position: absolute;
      bottom: 10px;
      background-color: unset;
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }

    @media screen and (max-width: 930px) {
      .content {
        flex-direction: column;
        max-width: 600px;

        h1, .description {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 560px) {
      .content {
        .description {
          p {
            text-shadow: 0px 0px 12px rgb(0 0 0);
          }
        }
      }
    }
  }
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 100px 30px;
    
    .content {
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      overflow: hidden;

      .content-column {
        width: 50%;
        max-width: 450px;
        h2 {
          font-size: 24px;
          line-height: 32px;
          font-weight: 600;
          letter-spacing: 1.5px;
        }
      }
      
      .services-column {
        width: 50%;
        padding-left: 10px;
        max-width: 320px;
        padding-left: 50px;
        
        h3 {
          text-transform: uppercase;
          font-size: 17px;
          font-weight: 600;
          letter-spacing: 2px;
        }

        .links {
          a {
            display: block;
            text-decoration: none;
            color: rgba($bp-blue, .8);
            margin-bottom: 10px;
            transition: all .2s;
            position: relative;

            @keyframes fadeInOpacity {
              0% {
                opacity: 0;
              }
              100% {
                opacity: 1;
              }
            }
            
            &:hover {
              transform:translateX(14px);
              transition: all .2s;

              &:before {
                content: "";
                background-image: url(/assets/icons/arrow-icon@2x.png);
                background-size: cover;
                width: 20px;
                height: 19px;
                position: absolute;
                top: 3px;
                left: -34px;
                animation: fadeInOpacity 0.8s ease-out;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 720px) {
      .content {
        flex-flow: wrap;
        max-width: 500px;
        justify-content: center;
        
        .content-column, .services-column {
          width: 100%;
          max-width: unset;
        }

        .services-column {
          .links {
            a {
              &:before {
                content: "";
                background-image: url(/assets/icons/arrow-icon@2x.png);
                background-size: cover;
                width: 20px;
                height: 19px;
                position: absolute;
                top: 3px;
                left: -34px;
                animation: fadeInOpacity 0.8s ease-out;
              }
              &:hover {
                
              }
            }
          }
        }
      }
    }
  }
  .featured-projects {
    padding: 70px 0px 130px;
    margin-bottom: 200px;
    position: relative;
    display: flex;
    align-items: center;
    .background-block {
      position: absolute;
      width: 33.3%;
      top: 0px;
      bottom: 0px;
      left: 0px;
      background-color: $bp-blue;
      z-index: -1;
    }
    
    .project-slider {
      width: 90%;
      max-width: 1400px;
      margin: 0 auto;

      h4 {
        font-size: 16px;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $bp-light-gray;
        font-weight: 400;
      }

      .view-all-projects {
        position: relative;
        left: calc(33.3% + 20px);
        top: 30px;
        font-size: 11px;
        color: rgba(0,0,0,.8);
        font-weight: 600;
        letter-spacing: 1px;        
      }
    }

    .featured-project {
      display: flex;
      align-items: center;

      .image-col {
        width: 60%;
        height: 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .content-col {
        width: 40%;
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        span {
          font-size: 11px;
          letter-spacing: 2px;
          color: rgba(0,0,0,.6);
        }

        h3 {
          font-size: 28px;
          line-height: 34px;
          margin: 0 0 10px;
        }

        p {
          font-size: 14px;
          letter-spacing: 1px;
          color: rgba(0,0,0,.8);
        }

        .project-link {
          color: $bp-dark-blue;
          padding: 10px 20px;
          border: 1px solid $bp-dark-blue;
          text-decoration: none;
          margin-top: 20px;
          position: relative;
          padding-right: 30px;
          
          &:after {
            content: '';
            width: 10px;
            height: 10px;
            border-right: 1px solid $bp-dark-blue;
            border-bottom: 1px solid $bp-dark-blue;
            position: relative;
            display: inline-block;
            left: 10px;
            transform: rotate(-45deg);
            transition: all .3s;
          }

          &:hover {
            &:after {
              left: 15px;
            }
          }
        }
      }
    }
  }
  .why-bp {
    background-image: url(/assets/images/dark-bg-pattern.jpg);
    background-color: $bp-blue;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 80px 30px;
    position: relative;
    
    .why-bp-title {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #FFF;
      font-family: din-2014, sans-serif;
      font-size: 15px;
      color: rgba(255, 255, 255, .75);
      letter-spacing: 2px;
    }

    .content {
      width: 100%;
      color: #fff;
      display: flex;
      max-width: 900px;
      overflow-y: visible;
    }
    
    .content-column {
      width: 40%;

      h2 { margin-top: 0px; }
      p { margin-bottom: 0px; }
    }

    .image-column {
      width: 60%;
      padding-left: 100px;
      margin-top: -130px;

      .image-button {
        background-color: #fff;
        text-decoration: none;
        width: 100%;
        color: $bp-dark-blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -5px;
        
        .link-text {
          padding-left: 30px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 2px;
        }

        .link-icon {
          background-color: $bp-light-gray;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
        }
      }
    }

    @media screen and (max-width: 840px) {
      .content {
        flex-flow: column;

        .content-column, .image-column {
          width: 100%;
        }

        .image-column {
          width: 100%;
          max-width: 630px;
          padding-right: 100px;
          margin-top: 50px;
        }
      }
    }

    @media screen and (max-width: 560px) {
      .content {
        .image-column {
          width: 100%;
          max-width: 630px;
          padding: 0;
        }
      }
    }
  }

  .featured-posts {
    .content-margins {
      .section-header {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .featured-projects {
      .project-slider {
        .carousel-slider {

          .control-arrow.control-prev {
            left: calc(50% - 160px) !important;
          }
          .carousel-status {
            left: calc(50% - 114px) !important;
          }
          .control-arrow.control-next {
            left: calc(50% - 50px) !important;
          }
        }

        .featured-project {
          flex-flow: wrap;
      
          .image-col, .content-col {
            width: 50% !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    .featured-projects {
      margin-bottom: 0;

      .background-block {
        width: 100%;
      }
      .project-slider {
        max-width: 500px;

        .carousel-slider {

          .control-arrow.control-prev {
            left: calc(80% - 160px) !important;
          }
          .carousel-status {
            left: calc(80% - 114px) !important;
          }
          .control-arrow.control-next {
            left: calc(80% - 50px) !important;
          }
          
        }

        .featured-project {
          flex-flow: wrap;
          flex-direction: column-reverse;
          max-width: 400px;
          width: 100%;
      
          .image-col, .content-col {
            width: 100% !important;
            padding: 0;
          }

          .content-col {
            span {
              color: $bp-light-gray;
            }
            h3 {
              color: #d1d1d1;
            }
          }
        }
        
        .view-all-projects {
          left: unset;
          color: #d1d1d1;
        }
      }
    }
  }
}
