@import './variables';

.news-list {
  .sub-title {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .content-margins {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
  }

  .featured-news {
    padding: 50px 20px;
    margin-bottom: 50px;

    .img-col,
    .content-col {
      width: 50%;
    }

    .content-col {
      padding: 0px 50px;

      h2 {
        font-weight: 300;
      }

      a {
        color: $bp-blue;
      }
    }
  }

  .load-more-button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 50px;
    cursor: pointer;

    .icon {
      margin-top: 10px;
      transform: rotate(90deg);
      display: flex;
    }
  }
}
