@import './variables';

.our-work-wrapper {
  .filter-bar {
    display: flex;
    margin: 30px 0px;

    .filters-content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      span {
        text-transform: uppercase;
        margin-right: 20px;
        font-family: din-2014, sans-serif;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 3px;
      }
      .filter {
        position: relative;
        
        .filter-button {
          background-color: transparent;
          border: 0;
          margin-right: 20px;
          cursor: pointer;
          font-size: 15px;
          letter-spacing: 2px;
          font-weight: 600;

          .filter-button-icon {
            margin-left: 10px;
          }
        }

        .menu {
          display: none;

          .filter-item {
            cursor: pointer;
          }
        }

        &.open {
          border-bottom: 1px solid $bp-blue;
          .menu {
            width: 250px;
            display: block;
            position: absolute;
            top: calc(100% + 1px);
            left: 0px;
            z-index: 200;
            background-color: #fff;
            -webkit-box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.1); 
            box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.1);
            padding: 10px 0;

            .filter-item {
              padding: 10px 20px;
              font-family: muli, sans-serif;
              font-size: 15px;
              letter-spacing: 1px;

              &:hover {
                background-color: #f1f1f1;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .featured-projects {
    display: flex;
    flex-flow: wrap;
    padding: 0 5px;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;

    .project {
      width: calc(33% - 7px);
      position: relative;
      background-size: cover;
      background-position: center;
      min-height: 400px;
      margin: 5px;
      display: flex;
      cursor: pointer;
      text-decoration: none;

      .project-thumb-bg {
        opacity: 0;
        transition: all .3s;
      } 

      .meta-data {
        opacity: 0;
        padding: 10%;
        color: #fff;
        flex-flow: column;
        justify-content: space-between;
        transition: all .3s;

        h2 {
          margin: 0;
          font-size: 34px;
          line-height: 42px;
          font-weight: 500;
        }
        p {
          font-size: 15px;
          font-family: din-2014, sans-serif;
          letter-spacing: 1px;
          opacity: .7;
          font-weight: 300;
          color: rgba(255,255,255,.5);
        }
        
        .tags {
          display: flex;
          width: 100%;

          p {
            margin-right: 30px;
            font-size: 14px;
            width: 50%;
            opacity: 1;
            span {
              text-transform: uppercase;
              letter-spacing: 1px;
              opacity: .7;
              color: rgba(255,255,255,.5);
              display: block;
            }
            span.industry-label,
            span.service-label {
              font-family: din-2014, sans-serif;
              font-weight: 500;
            }
            span.industry-item,
            span.service-item {
              font-size: 11px;
            }
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }

      &:hover {
        .project-thumb-bg, 
        .meta-data {
          opacity: 1;
        }
        
        .project-thumb-bg {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(23, 36, 57, 0.57);
          backdrop-filter: brightness(17%);
          backdrop-filter: opacity(57%);
          backdrop-filter: blur(8px);
          z-index: 1;
        }
        .meta-data {
          display: flex;
          z-index: 100;
        }
      }
    }

    .no-projects {
      margin: 60px auto;
    }
  }

  @media screen and (max-width: 1000px) {
    .featured-projects {
      .project {
        .meta-data {
          position: absolute;
          opacity: 1;
          padding: 15px;
          top: unset;
          bottom: 0px;
          background: rgba(23, 36, 57, 0.57);
          backdrop-filter: brightness(17%);
          backdrop-filter: opacity(57%);
          backdrop-filter: blur(8px);
          overflow: hidden;
          .title {
            h2 {
              font-size: 16px;
              line-height: 26px;
            }
            p {
              margin: 4px 0px;
              font-size: 14px;
              line-height: 16px;
            }
          }
          .tags {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .featured-projects {
      .project {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 550px) {
    .filter-bar {
      .filters-content {
        flex-flow: column;
        span {
          margin-bottom: 10px;
        }
        .filter {
          margin-bottom: 10px;
        }
      }
    }

  }
}
