@import './variables';

.services {
  .services-container {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    padding: 0 100px;
    
    .services-tabs {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      padding: 60px 20px 100px;
      margin: 0;

      li {
        margin: 0px 30px;
        cursor: pointer;
        font-size: 14px;
        max-width: 230px;
        text-align: center;
        align-self: start;

        &.active {
          text-decoration: underline;
          position: relative;
          font-weight: 600;

          &:before {
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            bottom: -15px;
            left: calc(50% - 10px);
            border-left: 1px solid $bp-blue;
            border-bottom: 1px solid $bp-blue;
            transform: rotate(-45deg)
          }
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .services-tab-content {
      .service-content {
        flex-flow: wrap;

        .service-content-body {
          display: flex;
          width: 100%;
          align-items: center;
          flex-flow: wrap;
          margin-bottom: 50px;
          
          .service-image-col,
          .content-col {
            width: 50%;
          }
          
          .content-col {
            padding-left: 80px;
            h2 {
              font-size: 30px;
              margin: 0 0 20px;
              font-weight: 500;
            }
            p {
              font-size: 14px;
            }
          }
          
          .service-icons {
            width: 100%;
            display: flex;
            flex-flow: wrap;
            margin: 80px 0;
  
            .icon {
              display: flex;
              width: 33.3%;
              padding: 0px 20px;
              align-items: center;
              margin-bottom: 30px;
  
              .img-wrap {
                margin-right: 20px;
                width: 100%;
                max-width: 60px;
              }
  
              h3 {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 1px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1100px) {
    .services-container {
      padding: 0 30px;
     
      .services-tabs {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  
  @media screen and (max-width: 900px) {
    .services-container {
      .services-tabs li {
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: 850px) {
    .services-container {
      .services-tabs {
        li {
          margin: 0 15px;
        }
      }
      .services-tab-content {
        .service-content {
          .service-content-body {
            .service-image-col,
            .content-col  {
              width: 100%;
              padding: 0;
            }

            .content-col {
              margin-top: 50px;
            }
          }
        }
        .service-icons {
          .icon {
            width: 50% !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .services-container {
      .services-tabs {
        flex-flow: wrap;
        align-items: flex-start;
        li {
          width: 50%;
          margin: 0 0 20px;
          line-height: 16px;
          padding: 10px 5px;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .services-container {
      .services-tab-content {
        .service-content .service-content-body .service-icons .icon {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}
